

<div>
  方向：
  <input type="checkbox" [(ngModel)]="isVercital" id="choose"/>
  <label for="choose">choose</label>
</div>
<div class="main" [class.vercital]="isVercital">
  <div class="route">
      <a [routerLink]="[ './test01']">test01</a>
      <a [routerLink]="[ './rxjs01']">rxjs01</a>
      <a [routerLink]="[ './http01']">http01</a>
      <a [routerLink]="[ './test02']">test02</a>
      <a [routerLink]="[ './form01']">form01</a>
      <a [routerLink]="[ './test03', 123]" [queryParams]="{ name: 'xx' }">test03</a>
  </div>
  <div>
      <router-outlet></router-outlet>
  </div>
</div>
